@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
    --color-ultramarine-50: #f1f4ff;
    --color-ultramarine-100: #e5e8ff;
    --color-ultramarine-200: #ced5ff;
    --color-ultramarine-300: #a7b0ff;
    --color-ultramarine-400: #767dff;
    --color-ultramarine-500: #3f3fff;
    --color-ultramarine-600: #2518ff;
    --color-ultramarine-700: #1407fa;
    --color-ultramarine-800: #1005d2;
    --color-ultramarine-900: #0f06ac;
    --color-ultramarine-950: #02008c;
    
    --color-zircon-50: #f1f4ff;
    --color-zircon-100: #e0e6ff;
    --color-zircon-200: #c7d1fe;
    --color-zircon-300: #a5b2fc;
    --color-zircon-400: #818af8;
    --color-zircon-500: #6363f1;
    --color-zircon-600: #5246e5;
    --color-zircon-700: #4638ca;
    --color-zircon-800: #3930a3;
    --color-zircon-900: #332e81;
    --color-zircon-950: #1f1b4b;
}