---
export interface Props {
    title: string;
    price?: number;
    image: string;
    rating?: number;
    maxRating?: number;
    href?: string;
    alt?: string;
}

const {
    title,
    price,
    image,
    rating = 5.0,
    maxRating = 5,
    href = "#",
    alt = "product image",
} = Astro.props;

const fullStars = Math.floor(rating);
const emptyStars = maxRating - Math.ceil(rating);
---

<div
    class="flex flex-col justify-between items-center bg-white shadow-sm hover:shadow-lg border border-gray-200 rounded-lg w-full max-w-sm transition-shadow duration-300"
>
    <h5 class="font-semibold text-gray-900 text-xl tracking-tight">
        {title}
    </h5>
    <a href={href}>
        <img
            class="p-8 rounded-t-lg size-64 object-cover text-gray-950"
            src={import.meta.env.STRAPI_URL + image}
            alt={alt}
        />
    </a>
</div>
