<!-- Hero -->
<div class="bg-ultramarine-950/80 h-dvh flex items-center justify-center">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
        <!-- Title -->
        <div class="max-w-3xl text-center mx-auto">
            <h1
                class="block font-medium text-gray-200 text-4xl sm:text-5xl md:text-6xl lg:text-7xl"
            >
                Todo lo que tu gasolinera necesita, en un solo lugar.
            </h1>
        </div>
        <!-- End Title -->

        <div class="max-w-3xl text-center mx-auto">
            <p class="text-lg text-white/70">
                Equipos, accesorios y suministros con envío rápido y atención
                especializada.
            </p>
        </div>

        <!-- Positions Container -->
        <div id="positions-container" class="max-w-4xl mx-auto">
            <h2 class="text-2xl font-semibold text-white mb-4 text-center">
                Posiciones Disponibles
            </h2>
        </div>
    </div>
</div>
<!-- End Hero -->
