---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-[#F1F4FF] text-white antialiased">
		<Navigation />
		<slot />

		<script>
			import { initFlowbite } from "flowbite";

			// Initialize Flowbite when DOM is loaded
			document.addEventListener("DOMContentLoaded", function () {
				initFlowbite();
			});

			// Also initialize on navigation for Astro's client-side routing
			document.addEventListener("astro:page-load", function () {
				initFlowbite();
			});
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
